
<h5 id="itemName">{{item}}</h5>

<p id="itemDescription" class="overflow-auto flex-fill" style="overflow-y: scroll; max-height: 10vh">{{desc}}</p>

<p><b>Starting Price:</b> PHP <span id="startingPrice">{{startPrice}}</span>    <br>
<b>Autobuy Price:</b> PHP <span id="autobuyPrice">{{buyPrice}}</span>    <br>
<b>Bidding Time:</b> <span id="bidTime">{{bidTime}}</span> minutes</p>

<p class="mb-3"><b>Bidders:</b> <span id="currPeople">0</span>/<span id="maxPeople">{{maxBidders}}</span></p>

<p class="mb-0"><b>Highest Bid:</b> PHP <span id="currBid">-</span> from <span id="currBidder"> - </span></p>