<h5 id="itemName">{{itemName}}</h5>

<p id="h-50 overflow-auto flex-fill" style="overflow-y: scroll; max-height: 10vh;"><span id="itemDescription"> {{itemDesc}} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et iaculis nibh. Donec sit amet tincidunt turpis, sit amet accumsan arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et iaculis nibh. Donec sit amet tincidunt turpis, sit amet accumsan arcu.</span></p>

<p><b>Starting Price:</b> <span id="startingPrice">PHP {{startPrice}}</span>    <br>
<b>Autobuy Price:</b> <span id="autobuyPrice">PHP {{autobuyPrice}}</span>    <br>
<b>Bidding Time:</b> <span id="bidTime">{{bidTime}} minutes</span></p>

<p class="mb-0"><b>Bidders:</b> <span id="currPeople">0</span>/<span id="maxPeople">{{maxPeople}}</span></p>
