<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auction Room</title>
    <link rel="stylesheet" href="/css/chatroom.css">
    
    
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>


    <!-- JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <script>const fName = "{{fName}}"; conse lName = "{{lName}}"; const email = "{{email}}";</script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="/js/chatroom.js"></script>


</head>
<body class="d-flex align-items-center justify-content-center vh-100">
    <div class="card container-md d-flex flex-column " style="height: 95vh">
        <center><h2 class="room-message my-2"> Online Auction </h2> <b id="timer">Please wait for auction to start.</b></center> 
        <div class="window row p-3 mb-2 bg-light text-dark flex-fill d-flex flex-row">
            {{> chatUI}}


            <div class="col-4 flex-fill d-flex flex-column" style="height: 100%">
                    <!-- <div class="card" style="height: 610px;"> -->

                    <div class="card flex-fill d-flex flex-column">
                        <div class="flex-fill" style="position: relative">
                            <img class="img-fluid w-100 mh-100" src="/images/placeholder.jpeg" id="imageItem" style="object-fit: cover; position: absolute;">
                        </div> 
                        <div class="d-inline-flex flex-column p-3 item-details">
                            {{> itemCard}}
                        </div>
                    </div>
            <!--    <div class="online">
                    <p class="users-online">Users Online</p>
                    <div class="users">
                    </div>
                </div>
                -->
                    <div class="" style="">
                        <div class="row my-3">
                            <div class='fields col-8'>
                                <input type="number" class="form-control " id="bid" placeholder="Enter bid" min={{startPrice}} max={{autobuyPrice}}>
                            </div>
                            <div class="col-4 btn-group special">
                                <button type="button" class="btn btn-primary" id="bidBtn">Bid</button>
                            </div>
                        </div>
                        <div class=" btn-group special center">
                            <button type="button" class="btn btn-success" id="autobuyBtn">Autobuy</button>
                        </div>
                    </div>
            </div>     

        </div>
    </div>


    {{> endAuction}}
    
    
</body>
</html>